<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>

    </style>
</head>

<div class="card-header">
    <p class="font"> Seleccione metodo de pago</p>
    <button class="checkout" (click)=pagoCredito()>Tarjeta de Credito</button><br>
    <button class="checkout" (click)=pagoDebito()>Tarjeta de Debito</button><br>
    <button class="checkout" (click)=pagoEfectivo()>Efectivo</button>

</div>

<!-- <button (click)="pagoTarjeta">
    <div>De que manera desea </div>
</button> -->


<body *ngIf="tarjetaCredito==1">
    <div class="row">
        <div class="col-75">
            <div class="container">
                <form action="/action_page.php">

                    <div class="row">
                        <div class="col-50">
                            <label for="fname"><i class="fa fa-user"></i> Nombre completo</label>
                            <input type="text" id="fname" name="firstname" placeholder="Gabriel Del Pozo">
                            <label for="email"><i class="fa fa-envelope"></i> Email</label>
                            <input type="text" id="email" name="email" placeholder="gabrieldelpozo@gmail.com">
                            <label for="adr"><i class="fa fa-address-card-o"></i> Domicilio</label>
                            <input type="text" id="adr" name="address" placeholder="Posadas 1335">
                            <label for="city"><i class="fa fa-institution"></i> Provincia</label>
                            <input type="text" id="city" name="city" placeholder="Buenos Aires">

                            <div class="row">
                                <div class="col-50">
                                    <label for="state">Ciudad</label>
                                    <input type="text" id="state" name="state" placeholder="Lomas de Zamora">
                                </div>
                                <div class="col-50">
                                    <label for="zip">Codigo Postal</label>
                                    <input type="text" id="zip" name="zip" placeholder="1832">
                                </div>
                            </div>
                        </div>

                        <div class="col-50">
                            <h3>Pago</h3>
                            <label for="fname">Tarjetas validas</label>
                            <div class="icon-container">
                                <i class="fa fa-cc-visa" style="color:navy;"></i>
                                <i class="fa fa-cc-amex" style="color:blue;"></i>
                                <i class="fa fa-cc-mastercard" style="color:red;"></i>
                            </div>
                            <label for="cname">Nombre en la Tarjeta</label>
                            <input type="text" id="cname" name="cardname" placeholder="G Del Pozo">
                            <label for="ccnum">Numero de la Tarjeta</label>
                            <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
                            <label for="expmonth">Mes de Vencimiento</label>
                            <input type="text" id="expmonth" name="expmonth" placeholder="Septiembre">
                            <div class="row">
                                <div class="col-50">
                                    <label for="expyear">Año de Vencimiento</label>
                                    <input type="text" id="expyear" name="expyear" placeholder="2021">
                                </div>
                                <div class="col-50">
                                    <label for="cvv">Codigo de Seguridad</label>
                                    <input type="text" id="cvv" name="cvv" placeholder="352">
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- 
                    <button class="checkout" (click)=pagoEfectivo()>Efectivo</button> -->
                    <input class="checkout2" type="submit" value="Finalizar el pago">
                </form>
            </div>
        </div>
        <div class="col-25">
            <div class="container">
                <h4>Carrito <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i> <b>4</b></span>
                </h4>
                <p><a href="#">Product 1</a> <span class="price">$8</span></p>
                <p><a href="#">Product 2</a> <span class="price">$5</span></p>
                <p><a href="#">Product 3</a> <span class="price">$8</span></p>
                <p><a href="#">Product 4</a> <span class="price">$2</span></p>
                <hr>
                <p>Total <span class="price" style="color:black"><b>$30</b></span></p>
            </div>
        </div>
    </div>

</body>

</html>