<div class="container-fluid">
  <div class="row">
    <div class="centrado">

      <img src="https://i.ibb.co/68MLVQB/organic-Flow-Logo.png" alt="organic-Flow-Logo">

    </div>


    <div class="centrado">
      <ul>
        <li><a class="active" [routerLink]="['/productos']">Productos</a></li>
        <li><a [routerLink]="['/nosotros']">Nosotros</a></li>
        <li><a [routerLink]="['/contacto']">Contacto</a></li>
        <li><a [routerLink]="['/carrito']">Carrito</a></li>
        <div class="topnav"><input type="text" placeholder="Buscar.."></div>
        <li></li>
      </ul>
    </div>
  </div>
</div>