<div class="container-fluid">
  <div class="row">
    <div>
      <ul>
        <li><a class="active" [routerLink]="['/productos']">Productos</a></li>
        <li><a [routerLink]="['/nosotros']">Nosotros</a></li>
        <li><a [routerLink]="['/contacto']">Contacto</a></li>
        <li><a [routerLink]="['/carrito']">Carrito</a></li>
        <div class="topnav"><input type="text" placeholder="Buscar.."></div>
        <div class="top"><a class="notif" [swal]="mostrarCarro"><span class='badge badge-warning' id='lblCartCount'>{{getCantidad()}}</span></a></div>
      </ul>
    </div>
  </div>
</div>

<swal #mostrarCarro [swalOptions]="{ confirmButtonText: 'Ver carrito', showDenyButton: true, denyButtonText: 'Cerrar', showCloseButton: true}" (confirm)='aCarrito()'>
  <div *swalPortal="swalTargets.content"  class="carroFlotante">
    <app-carrito style="position:static;"></app-carrito>
  </div>
</swal>
