ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  .topnav input[type=text] {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
    font-size: 17px;
  }
  
  .top{
    float: right;
    padding: 6px;
    margin-top: 1px;
    margin-right: 16px;
    border: none;
    font-size: 17px;
  }

  .notif {
  position:relative;
  margin-top: initial;
  display:block;
  height: 40px;
  width: 40px;
  background: url('/../../assets/cart4.svg');
  background-size: contain;
  text-decoration: none;
}
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: 35px; 
}

.carroFlotante{
  width: 70vh;
  height: 50vh;
}



  