<div class="container-fluid">
    <div class="row">



        <html>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

        <body>

            <!-- Sidebar -->
            <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:10%">
                <div>
                    <input type="checkbox" [(ngModel)]="checks.todos" (change)="checkTodo()"> Todos
                </div>
                <div>
                    <input type="checkbox" [(ngModel)]="checks.verduras" (change)="mostrarVerduras()"> Verduras
                </div>
                <div>
                    <input type="checkbox" [(ngModel)]="checks.frutas" (change)="mostrarFrutas()"> Frutas
                </div>
                <div>
                    <input type="checkbox" [(ngModel)]="checks.secos" (change)="mostrarSecos()"> Frutos secos
                </div>
                <div>
                    <input type="checkbox" [(ngModel)]="checks.bandejas" (change)="mostrarBandejas()"> Bandejitas
                </div>
            </div>

        </body>

        </html>

    </div>
</div>