<div class="imagenFondo">
  <div class="container">
    <div class="row">
      <div class="col-8 centrado">
        
        <img src="https://i.ibb.co/68MLVQB/organic-Flow-Logo.png" alt="organic-Flow-Logo">
        
      </div>

      <div class="col-6 centrado">
        <input>
        <button>BUSCAR</button>
      </div>

      <div class="col-6 centrado">
        <ul>
          <li><a class="active" href="#productos">Productos</a></li>
          <li><a href="#nosotros">Nosotros</a></li>
          <li><a href="#contacto">Contacto</a></li>
          <li><a href="#carrito">Carrito</a></li>

        </ul>
      </div>
      <div class="col-6">
        
      </div>
      <div class="col-6 ">
        
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
   <div class="row">
     <div class="col-6">
     </div>
    <div class="col-6">
    </div>
  </div>